@model Genero

<div class="card mt-3">
    <div class="card-body">
        <div class="mb-3 ps-3">
            <label asp-for="GeneroId" class="form-label form-text"></label>
            <div class="form-text text-body">@Model.GeneroId</div>
        </div>
        <div class="mb-3 ps-3">
            <label asp-for="Nombre" class="form-label form-text"></label>
            <div class="form-text text-body">@Model.Nombre</div>
        </div>
    </div>
</div>